{% extends "layout.html" %}

{% block head %}
<title>Sobre - Anderson Kramin</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://avatars.githubusercontent.com/u/55948870?v=4" alt="Anderson Kramin">
    <h1>Anderson Kramin</h1>
    <h2>Analista de Sistemas</h2>
    <p> Analista de sistemas, ama viajar e viciado em programação e tecnologia! at <a href="https://docwise.com.br/"
            target="_blank">@docwise</a> </p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/Andersonkramin" target="_blank">GitHub </a>
    <a href="https://www.instagram.com/andersonkramin/" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/in/andersonkramin/ " target="_blank">Linkedin</a>

</div>

{% endblock %}