@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');


:root {
    --color-green:#50fa7b;
    --color-blue: #1f71dd;
}  

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke
}

header {
    padding: 32px;
    border-bottom: 2px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;

}

.links a {
    color:white;
    font-size: 30px;
    line-height: 40px;
    margin: 0 16px;
    text-decoration: initial;
}

.links a:hover {
    color: var(--color-green) ;
    transition: color 500ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
} 

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green); 
    margin-bottom: 32px;
    height: 300px;
}

#wrapper h1 {
    font-size: 45px;
    line-height: 52px; 
    font-weight: bold;
}

#wrapper h2 {
    font-size: 30px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 15px auto;
    font-size: 22px;
    line-height: 34px;
}

#wrapper p a {
    font-size: 25px;
    line-height: 34px;
    color: var(--color-green);  
    opacity: 0.6;
}

#links-footer a{
    border-bottom: 1px solid var(--color-green);
    opacity: 0.8;
}


/*  CARDS */

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card {
    background-color: var(--color-blue);
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding:24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--color-blue);
    filter:brightness(90%);
    padding:  5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*  MODAL */

.modal-overlay {
    background-color: rgba(0, 0, 0 , 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*  MODAL ACTIVE */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
    top: 5%;
    width: 100%;
    height: 90%;
    position: absolute;
}